*.~*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config/compile
config/config.h
config/config.h.in
config/depcomp
config/stamp-h1
configure
librpncalc.a
ptime.o
rpn
rpncalc.o
rpnmain.o
variate
variate-variates.o
variates.o
win32
